# Dependencies
/node_modules/
/vendor/
composer.lock

# Test & Linter caches
/.phpunit.cache
/.phpunit.result.cache
/.stylelintcache
/coverage/

# OS & Editor files
.DS_Store
Thumbs.db
*.swp
*.bak
.idea/
.vscode/
