<div id="vinny-sidebar-calendar"
	data-months="{{ lang('SIDEBAR_CAL_JANUARY')|e('html_attr') }},{{ lang('SIDEBAR_CAL_FEBRUARY')|e('html_attr') }},{{ lang('SIDEBAR_CAL_MARCH')|e('html_attr') }},{{ lang('SIDEBAR_CAL_APRIL')|e('html_attr') }},{{ lang('SIDEBAR_CAL_MAY')|e('html_attr') }},{{ lang('SIDEBAR_CAL_JUNE')|e('html_attr') }},{{ lang('SIDEBAR_CAL_JULY')|e('html_attr') }},{{ lang('SIDEBAR_CAL_AUGUST')|e('html_attr') }},{{ lang('SIDEBAR_CAL_SEPTEMBER')|e('html_attr') }},{{ lang('SIDEBAR_CAL_OCTOBER')|e('html_attr') }},{{ lang('SIDEBAR_CAL_NOVEMBER')|e('html_attr') }},{{ lang('SIDEBAR_CAL_DECEMBER')|e('html_attr') }}"
	data-days="{{ lang('SIDEBAR_CAL_SUN')|e('html_attr') }},{{ lang('SIDEBAR_CAL_MON')|e('html_attr') }},{{ lang('SIDEBAR_CAL_TUE')|e('html_attr') }},{{ lang('SIDEBAR_CAL_WED')|e('html_attr') }},{{ lang('SIDEBAR_CAL_THU')|e('html_attr') }},{{ lang('SIDEBAR_CAL_FRI')|e('html_attr') }},{{ lang('SIDEBAR_CAL_SAT')|e('html_attr') }}"
>
	<div id="vinny_calendar_header">
		<i class="icon fa fa-chevron-left" aria-hidden="true"></i>
		<h1></h1>
		<i class="icon fa fa-chevron-right" aria-hidden="true"></i>
	</div>
	<div id="vinny_calendar_weekdays"></div>
	<div id="vinny_calendar_content"></div>
</div>
{% INCLUDEJS '@vinny_sidebar/js/sidebar_calendar.js' %}
