<ul class="vinny-sidebar-list vinny-menu-list-no-margin">
	<li class="vinny-sidebar-list-item">
		<a href="{{ U_INDEX }}" class="vinny-sidebar-list-link"><i class="icon fa-home fa-fw" aria-hidden="true"></i> {{ lang('INDEX') }}</a>
	</li>
	{% if not S_IS_BOT %}
	{% if S_DISPLAY_MEMBERLIST %}
	<li class="vinny-sidebar-list-item">
		<a href="{{ U_MEMBERLIST }}" class="vinny-sidebar-list-link"><i class="icon fa-users fa-fw" aria-hidden="true"></i> {{ lang('MEMBERLIST') }}</a>
	</li>
	{% endif %}
	{% if U_TEAM %}
	<li class="vinny-sidebar-list-item">
		<a href="{{ U_TEAM }}" class="vinny-sidebar-list-link"><i class="icon fa-shield fa-fw" aria-hidden="true"></i> {{ lang('THE_TEAM') }}</a>
	</li>
	{% endif %}
	{% endif %}
	{% if U_CONTACT_US %}
	<li class="vinny-sidebar-list-item">
		<a href="{{ U_CONTACT_US }}" class="vinny-sidebar-list-link"><i class="icon fa-envelope fa-fw" aria-hidden="true"></i> {{ lang('CONTACT_US') }}</a>
	</li>
	{% endif %}
	<li class="vinny-sidebar-list-item">
		<a href="{{ U_FAQ }}" class="vinny-sidebar-list-link"><i class="icon fa-question-circle fa-fw" aria-hidden="true"></i> {{ lang('FAQ') }}</a>
	</li>
</ul>
