<ul class="vinny-sidebar-list vinny-menu-list-no-margin">
	<li class="vinny-sidebar-list-item">
		<a href="{U_INDEX}" class="vinny-sidebar-list-link"><i class="icon fa-home fa-fw" aria-hidden="true"></i> {L_INDEX}</a>
	</li>
    <!-- IF not S_IS_BOT -->
    <!-- IF S_DISPLAY_MEMBERLIST -->
	<li class="vinny-sidebar-list-item">
		<a href="{U_MEMBERLIST}" class="vinny-sidebar-list-link"><i class="icon fa-users fa-fw" aria-hidden="true"></i> {L_MEMBERLIST}</a>
	</li>
    <!-- ENDIF -->
	<!-- IF U_TEAM -->
	<li class="vinny-sidebar-list-item">
		<a href="{U_TEAM}" class="vinny-sidebar-list-link"><i class="icon fa-shield fa-fw" aria-hidden="true"></i> {L_THE_TEAM}</a>
	</li>
	<!-- ENDIF -->
    <!-- ENDIF -->
	<!-- IF U_CONTACT_US -->
	<li class="vinny-sidebar-list-item">
		<a href="{U_CONTACT_US}" class="vinny-sidebar-list-link"><i class="icon fa-envelope fa-fw" aria-hidden="true"></i> {L_CONTACT_US}</a>
	</li>
	<!-- ENDIF -->
	<li class="vinny-sidebar-list-item">
		<a href="{U_FAQ}" class="vinny-sidebar-list-link"><i class="icon fa-question-circle fa-fw" aria-hidden="true"></i> {L_FAQ}</a>
	</li>
</ul>
