{% if S_VINNY_SIDEBAR_LEFT_ENABLED or S_VINNY_SIDEBAR_RIGHT_ENABLED %}
	</div>
	{% if S_VINNY_SIDEBAR_RIGHT_ENABLED %}
	<aside id="vinny-sidebar-right" class="vinny-sidebar vinny-sidebar-right" role="complementary">
		{% if not S_VINNY_SIDEBAR_HIDE_TOGGLES %}
		<button class="vinny-sidebar-toggle" data-side="right" type="button" aria-label="{{ lang('SIDEBAR_TOGGLE') }}" title="{{ lang('SIDEBAR_TOGGLE') }}" aria-expanded="true">
			<i class="icon fa fa-chevron-right fa-fw" aria-hidden="true"></i>
		</button>
		{% endif %}
		<div class="vinny-sidebar-inner">
			{% INCLUDE '@vinny_sidebar/sidebar_right.html' %}
		</div>
	</aside>
	{% endif %}
</div>
{% INCLUDEJS '@vinny_sidebar/js/sidebar.js' %}
{% endif %}
